<div class="cover gh-outer">
    <div class="cover-content gh-inner">
        {{#if @custom.show_publication_icon}}
            {{#if @site.icon}}
                <div class="cover-icon{{#match @custom.publication_icon_alignment "=" "Left"}} icon-left{{else match @custom.publication_icon_alignment "=" "Right"}} icon-right{{else}} icon-center{{/match}}">
                    <img class="cover-icon-image" src="{{@site.icon}}" alt="{{@site.title}}">
                </div>
            {{/if}}
        {{/if}}

        {{#if @site.description}}
            <div class="cover-description">{{@site.description}}</div>
        {{/if}}

        {{#if @site.members_enabled}}
            {{#unless @member}}
            <div class="cover-cta">
                <button class="button members-subscribe" data-portal="signup">Subscribe now</button>
                <button class="button button-secondary members-login" data-portal="signin">Login</button>
            </div>
            {{/unless}}
        {{/if}}
    </div>
</div>
