<article class="feed {{visibility}} {{post_class}}">

    <div class="feed-calendar">
        <div class="feed-calendar-day">
            {{date published_at format="DD"}}
        </div>
        <div class="feed-calendar-month">
            {{date published_at format="MMM"}}
        </div>
    </div>

    <h2 class="feed-title" style="font-size: {{#match @custom.feed_title_size "=" "Small (1.2rem)"}}1.2rem{{else match @custom.feed_title_size "=" "Large (2.0rem)"}}2.0rem{{else match @custom.feed_title_size "=" "Extra Large (2.4rem)"}}2.4rem{{else}}1.6rem{{/match}};">{{title}}</h2>

    <div class="feed-right">
        {{> "icons/star"}}
        <div class="feed-length">
            {{reading_time}}
        </div>
    </div>

    {{> "icons/chevron-right"}}

    <a class="u-permalink" href="{{url}}" aria-label="{{title}}"></a>

</article>